@media (min-width: 0px) and (max-width: 480px){

    .der{
        display: none;
    }

    .grid-container{
        display: grid;
        width: 70%;
        grid-template-columns: repeat(1, 0.5fr);  
        grid-template-rows: repeat(1, 0.5fr);    
        gap: 20px;                              
        font-size: 15px;
        margin: 0 auto;
    }

    .card{
        border-radius: 200px;
    }


    p{
        margin: 0 auto;
        padding-bottom: 10px;
        font-size: medium;
    }

    h1{
        font-size: larger;
        margin: 0 auto;
    }

    main {
        margin: 10px;
        gap: 15px;
    }

    .muscle-container {
        flex-direction: column; 
        align-items: center; 
        gap: 10px; 
    }

    .foto {
        width: 100%;
        max-width: 300px; 
        height: auto;
    }

    p {
        font-style: none;
        font-size: 1em;
        max-width: 100%; 
    }
}