body{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    box-shadow: 4px 1px 20px 1px;
}

.navbar{
    background-color: white;
    font-size: 30px;
    font-style: none;
}

.nav-link:hover{
    color: #004aad;
}

.carousel {
    max-width: 500px;
    width: 100%;
    align-items: center;
}

.logo{
    width: 75px;
    height: 75px;
    padding: 0px;
}

.titulo{
    padding: 30px;
}
h1 span{
    color: #004aad;
}

p{
    text-align: center;
    font-size: 40px;
}

.grid-container{
    display: grid;
    width: 70%;
    grid-template-columns: repeat(4, 1fr);  
    grid-template-rows: repeat(2, 1fr);    
    gap: 20px;                              
    justify-items: center;                  

}

.caja {
    display: flex;
    text-align: center;
    border: none;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: inherit;
}

.card{
    box-shadow: rgba(38, 78, 118, .1) 0 6px 20px;
    border: none;
    border-radius: 100px;
}

@media (min-width: 480px) and (max-width: 900px){
    body{
        background-color: white;
    }

    .d-flex {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }

    .der{
        display: none;
    }

    .grid-container{
        display: grid;
        width: 70%;
        grid-template-columns: repeat(2, 1fr);  
        grid-template-rows: repeat(1, 1fr);    
        gap: 20px;                              
        justify-items: center;
        align-items: center;
}
}