body{
    background-color: #8c8c8c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    background-color: #3c3c3c;
    font-size: 30px;
    font-style: none;
}

.nav-link:hover{
    color: goldenrod;
}

.carousel {
    max-width: 500px;
    width: 100%;
    align-items: center
    ;
}

